<tr>
    <td><%= customer.customerNumber %></td>
	<td><%= customer.user.firstName %></td>
	<td><%= customer.user.lastName %></td>
	<td><%= customer.user.email %></td>
	<td><%= customer.adminNotes %></td>
	<td><%= customer.mealRequirements ? customer.mealRequirements.length : 0; %></td>
	<td><a href="editCustomer/<%= customer.id %>">edit</a></td>
</tr>