<div class="row">
    <% var col = 12/field.length %>
    <% for(var i =0;i<field.length;i++){%>
    <div class="col-md-<%= col %>">
        <div class="form-group">
            <label for="<%= field[i].fieldId %>"><%= field[i].fieldName %></label>
            <input class="form-control" type="text" id="<%= field[i].fieldId %>" value="<%- customer[field[i].fieldId] %>" ng-model="saveCustomer['<%= field[i].fieldId %>']" />
        </div>
    </div>
    <% } %>
</div>