<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="<%= field.fieldId %>"><%= field.fieldName %></label>
            <textarea class="form-control" id="<%= field.fieldId %>" ng-model="saveCustomer['<%= field.fieldId %>']"><%- customer[field.fieldId] %></textarea>
        </div>
    </div>
</div>