<tr>
	<td><%= row.name %></td>
	<td><input type="checkbox" ng-model="customerDay['Monday']['<%= row.key %>']"/></td>
	<td><input type="checkbox" ng-model="customerDay['Tuesday']['<%= row.key %>']"/></td>
	<td><input type="checkbox" ng-model="customerDay['Wednesday']['<%= row.key %>']"/></td>
	<td><input type="checkbox" ng-model="customerDay['Thursday']['<%= row.key %>']"/></td>
	<td><input type="checkbox" ng-model="customerDay['Friday']['<%= row.key %>']"/></td>
	<td><input type="checkbox" ng-model="customerDay['Saturday']['<%= row.key %>']"/></td>
	<td><input type="checkbox" ng-model="customerDay['Sunday']['<%= row.key %>']"/></td>
</tr>