
<script>
	
	var days = {
		Sunday:0,
		Monday:1,
		Tuesday:2,
		Wednesday:3,
		Thursday:4,
		Friday:5,
		Saturday:6
	};
	
	var colors = {
		standardMeal: '',
		namedMeal: 'lightblue',
		dessert: '#ff9999',
		soup: 'lightgreen',
		sandwiches: 'yellow',
		fruit: 'orange',
		baking: '#D8BFD8',
		savouries: 'pink', 
		frozenMeal: '#bc8f8f',
		frozenDesserts: '#f5deb3',
		other: '#bdb76b'
	};
	
	var calendarEvents = [];
<<<<<<< HEAD
<<<<<<< HEAD
	
	var calendar = {
=======

	$(document).ready(function() 
	{ 
		// page is now ready, initialize the calendar...
		$('#calendar').fullCalendar({
>>>>>>> origin/production
=======
	
	var calendar = {
>>>>>>> 173a2df6c6946f1b059a6a08b6727060a0f77ab1
			// put your options and callbacks here
			events: calendarEvents,
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'listDay,listWeek,month'
			},
			views: {
				listDay: { buttonText: 'list day' },
				listWeek: { buttonText: 'list week' }
			},
			defaultView: 'listDay',
			eventLimit: true,
			eventRender: function(event, element) { 
				element.find('.fc-list-item-time').replaceWith("<td class ='fc-list-item-time fc-widget-content'>" + event.title + "</td>");
				element.find('.fc-list-item-title').replaceWith("<td class ='fc-list-item-title fc-widget-content'>Quantity: " + event.numberOfMeals + "</td>"); 
			} 
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 173a2df6c6946f1b059a6a08b6727060a0f77ab1
		};

	$(document).ready(function() 
	{ 
		// page is now ready, initialize the calendar...
		$('#calendar').fullCalendar(calendar);
<<<<<<< HEAD
	});
</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script>	
var socket = io.connect("localhost:3000");
	<!-- get the customer from main within router and log it into the page -->
	socket.on('get_Customer_Days', function(customer)
	{	
		var data = [];
		
		for(var c in customer) {
			data.push({
				title: customer[c].key,
				dow: [days[customer[c].day]],
				color: colors[customer[c].key],
				numberOfMeals: customer[c].count
			});
		}
		
		$("#calendar").fullCalendar('removeEvents'); 
		$("#calendar").fullCalendar('addEventSource', data);
	});
	</script>

=======
		})
	});
</script>

>>>>>>> origin/production
=======
	});
</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script>	
var socket = io.connect("localhost:3000");
	socket.on('get_Customer_Days', function(customer)
	{	
		var data = [];
		
		for(var c in customer) {
			data.push({
				title: customer[c].key,
				dow: [days[customer[c].day]],
				color: colors[customer[c].key],
				numberOfMeals: customer[c].count
			});
		}
		
		$("#calendar").fullCalendar('removeEvents'); 
		$("#calendar").fullCalendar('addEventSource', data);
	});
	</script>

>>>>>>> 173a2df6c6946f1b059a6a08b6727060a0f77ab1

<div class="row">

	<div class="col-md-10 pr-4 pl-4" ng-app='mow' style="padding:0">
		<h3 class="pt-4" style="margin-bottom:-10px">Welcome to</h3>
		<h1 class="display-4">Meals on Wheels</h1>
		<p>
			Today is <span><%= today %></span>
		</p>
		
			<% allCustomerDays.forEach(function(e){%>
				<script type="text/javascript">

				var calendarEvent = {};
				calendarEvent.title = "<%=e.dataValues['key']%>";
				calendarEvent.dow = [days["<%=e.dataValues['day']%>"]];
				calendarEvent.color =  colors["<%=e.dataValues['key']%>"];
				calendarEvent.numberOfMeals = "<%=e.dataValues['count']%>";
				
				calendarEvents.push(calendarEvent);

				</script>
			<% }); %>
		
		<div id='calendar'></div>
		
	</div>
	
	<%- include common/sidebar.ejs %>
	
	
</div>
