<style>
	#map {
		height: 600px;
		border: 2px solid black;
	}
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd3lL6VULqPXaorKesbnBc_s7-jpS9hsQ&callback=initMap" async defer></script>
<script>
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: -45.8788, lng: 170.5028},
			zoom: 8
		});
	}
</script>

<div class="row">
	<div class="col-md-9">
    	<div id="map"></div>
	</div>
	
	<div class="col-md-3">
	<table>
	<tr>
	<th>First Name:</th>
	<th>Last Name:</th>
	<th>Address:</th>
	</tr>
	
	<% customers.forEach(function(customer){ %>
	<tr>
		<td><%= customer.user.firstName %></td>
		<td><%= customer.user.lastName %></td>
		<td><%= customer.address %></td>
	</tr>
	<% }); %> 
	</table>
	</div>
	</div>
    <script>
	console.log("here?????");
	var address1 = "62 orari st dunedin nz";
	//var address2 = "31 maitland st dunedin nz";
	
	<%var tempCustomer = [];%>
	<%var existingCustomer = [];%>
	
	<% customers.forEach(function(customer){ %>
		var pos = {lat:<%= customer.latitude %>, lng:<%= customer.longitude %> };
		console.log(pos);
		var marker = new google.maps.Marker({
			position: pos,
			map: map
		});
	<% }); %>
		
      var map;
      
    </script>
